* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}

.menu_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    font-weight: 500;
    font-size: 14px;
}

.navbar_left {
    width: 350px;
    display: flex;
}

.nav {
    list-style-type: none;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.navbar_center {
    display: flex;
    justify-content: center;
}

.navbar_right {
    width: 400px;
    display: flex;
    justify-content: space-around;
}

#input_product {
    width: 250px;
    height: 36px;
    line-height: 44px;
    border-radius: 5px;
}

.bgr_product {
    position: relative;
    width: 100%;
}

.slogan {
    width: 450px;
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: justify;
}

.slogan h1 {
    font-size: 3.49rem;
    color: #000;
    opacity: 0.8;
}

.slogan p {
    font-size: 23px;
    letter-spacing: 1px;
    color: #000;
    opacity: 0.7;
    line-height: 1.5;
}

.menu_product {
    display: flex;
    justify-content: space-between;
    margin: 36px;
}

.link {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.menu_product a {
    text-decoration: none;
    padding: 16px 44px;
    color: #01875F;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
}

.menu_product a:first-child {
    color: #fff;
    background-color: #01875F;
}

.menu_product a:nth-child(2) {
    border-right: 1px solid #01875F;
    border-radius: 0;
}

.search {
    padding: 20px;
}