* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

img {
    display: inline-block;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 12px 0;
}

.menu_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #000;
    opacity: 0.7;
    font-weight: 500;
    font-size: 14px;
}

.navbar_left {
    width: 350px;
    display: flex;
}

.nav {
    list-style-type: none;
    display: flex;
    width: 350px;
    justify-content: space-between;
    align-items: center;
}

.navbar_center {
    display: flex;
    justify-content: center;
}

.navbar_right {
    width: 400px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.input_product {
    width: 250px;
    height: 36px;
    padding: 0 20px 0 40px;
    border-radius: 5px;
    outline: none;
    border: solid gray 2px;
    font-size: 16px;
}

.icon-search {
    opacity: 0.7;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

.bgr_product {
    position: relative;
    width: 100%;
}

.slogan {
    width: 450px;
    position: absolute;
    top: 35%;
    left: 10%;
    text-align: justify;
}

.slogan h1 {
    font-size: 3.49rem;
    color: #000;
    opacity: 0.8;
}

.slogan p {
    font-size: 23px;
    letter-spacing: 1px;
    color: #000;
    opacity: 0.7;
    line-height: 1.5;
}

.menu_product {
    display: flex;
    justify-content: space-between;
    margin: 36px;
}

.link {
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.menu_product a {
    text-decoration: none;
    padding: 16px 44px;
    color: #01875f;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    line-height: 28px;
}

.menu_product a:first-child {
    color: #fff;
    background-color: #01875f;
}

.menu_product a:nth-child(2) {
    position: relative;
}

.menu_product a:nth-child(2)::after {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #01875f;
    position: absolute;
    top: 10px;
    right: 0;
}

.search {
    display: flex;
    align-items: center;
}

.sort_by {
    width: 160px;
    margin-left: 20px;
    padding: 14px 40px;
    background-color: #f3f4f6;
    border-radius: 8px;
}

.sort_by span {
    margin-right: 5px;
}

.list_products {
    display: flex;
    justify-content: space-between;
}

.item_product {
    display: inline-block;
    position: relative;
    margin: 20px 0;
}

.item_product h1 {
    display: inline-block;
}

.item_product h3:last-child {
    opacity: 0.5;
    margin-left: 5px;
    display: inline-block;
}

.item_product img {
    width: 100%;
    object-fit: cover;
}

.tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 10px;
    background-color: #ffc970;
    border-radius: 20px;
    opacity: 0.8;
    font-size: 12px;
}

.body_item p {
    margin: 5px 0;
}

.title {
    margin: 10px 0;
}
.cart {
    scale: 0.15;
    object-fit: fill;
    position: absolute;
    bottom: -114px;
    right: -114px;
}

.phanTrang {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.phanTrang span {
    margin-inline: 20px;
}

.phanTrang span:hover {
    font-size: 30px;
    cursor: pointer;
}

.phanTrang img:hover {
    scale: 2;
    cursor: pointer;
}

.footer {
    width: 100%;
    background-color: #000;
    padding: 80px 120px;
    display: flex;
    color: #bdc0c6;
}

.overview {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.footer-item {
    display: flex;
    flex-direction: column;
}

.footer-item p {
    margin-top: 24px;
}

select {
    margin-top: 26px;
    padding: 8px 20px 8px 4px;
    border-radius: 5px;
    outline: 2px solid #fff;
    color: #fff;
    background-color: #000;
}

.connect {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 20%;
}

.email-connect {
    position: relative;
}

input[type="email"] {
    width: 350px;
    padding: 15px 18px 15px 60px;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
    outline: none;
    border: 2px solid #bdc0c6;
    background-color: #000;
    color: #bdc0c6;
}

.icon-email {
    position: absolute;
    left: 18px;
    color: #000;
    font-size: 26px;
    top: 50%;
    transform: translateY(-50%);
    color: #bdc0c6;
}

.btnSub {
    display: inline-block;
    margin-left: -120px;
    padding: 17px 28px;
    background-color: #01875f;
    border-radius: 0 10px 10px 0;
    border: none;
    text-align: center;
    color: white;
    font-weight: 600;
}

.btnSub:hover {
    background-color: #bdc0c6;
    color: #01875f;
    border: none;
    border-radius: none;
}

.connect p {
    margin: 24px 0;
}

.social {
    width: 150px;
    padding: 48px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.img1:hover,
.img2:hover,
.img3:hover,
.img4:hover {
    opacity: 0.6;
}

.bottom-text {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.bottom-text:nth-child(1) {
    list-style-type: none;
}
